{% extends "base.html" %}
{% block title %}Edit bicycle{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_bicycle.css') }}">
{% endblock %}
{% block content %}
    <input type="hidden" id="bikeId" value="{{ bike.id }}">
    <h3 class="text-center margin-bottom-lg">Change the name of your bicycle</h3>
    <form class="center" ng-controller="AddBicycleController" ng-cloak ng-submit="editBicycle()">
        <div class="alert alert-danger" role="alert" ng-show="hasError">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Whoops!</h4>

            <p><strong>An unknown error occurred while trying to change the bicycle.</strong></p>
            <hr>
            <p class="mb-0">If this error persists, you should contact customer service.</p>
        </div>
        {{ render_field(form.bicycle,  **{"required":"", "ng-minlength":"6", "placeholder":bike.name}) }}
        <input type="hidden" name="ownerId" value="{{ ownerId }}" id="ownerId">
        <button class="btn btn-lg btn-warning btn-block margin-bottom" type="submit" id="create-account-button">
            Change name
        </button>
    </form>
    <script src="{{ url_for('static', filename='js/controllers/AddBicycleController.js') }}"></script>
{% endblock %}
