{% extends "base.html" %}
{% block title %}View bicycle{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bicycle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/specific.css') }}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}
{% block content %}
    {% raw %}
    <div class="container-fluid" ng-controller="SpecificBikeController" ng-cloak>
        <div class="row justify-content-around">
            <div class="col-md-12 col-lg-5 border border-warning card mb-md-3 mb-lg-0" ng-controller="SheetController">
                <div class="card-body">
                    <h5 class="card-title text-dark">Bicycle information</h5>
                    <ul class="list-group list-group-flush text-dark">
                        <li class="list-group-item">
                            <span class="text-dark pr-4"><strong>Bike id:</strong></span>
                            {{ bike.id }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-dark pr-4"><strong>Bike name:</strong></span>
                            {{ bike.name }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-dark pr-4"><strong>Last seen:</strong></span>
                            {{ bike.timestamp.slice(0, -3) }}
                        </li>
                    </ul>
                </div>
                {% endraw %}
                <div class="p-2">
                    <a ng-href="{{ url_for('edit_bicycle', id=bike.id) }}">
                        <md-button class="md-raised md-primary float-right">Edit</md-button>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-5 border border-warning card">
                <div class="card-body">
                    <h5 class="card-title text-dark">
                        <span class="oi oi-map-marker"></span> Location
                    </h5>
                    <div class="alert alert-warning" role="alert" ng-show="invalidLocation">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="alert-heading">Missing bicycle location</h4>
                        <p><strong>We do not have any valid coordinate that belongs to your bicycle.</strong></p>
                        <hr>
                        <p class="mb-0">This is usually the case when you have just added your bike. Setup your GPS
                            sender
                            to start sending coordinates.</p>
                    </div>

                    <script>
                        loc = {lat: {{ bike.latitude }}, lng: {{ bike.longitude }}};
                        id = {{ bike.id }};
                    </script>
                    <div id="mapOuter">
                        <div id="map"></div>
                    </div>
                    <script src="{{ url_for('static', filename='js/specific_bike.js') }}"></script>
                    {% raw %}
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMf6IaMQVSO_ghPn_-NxJyss7LVCbBtOk&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    <script src="{{ url_for('static', filename='js/controllers/SpecificBikeController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/SheetController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/BottomSheetController.js') }}"></script>
{% endblock %}
