{% extends "base.html" %}
{% block title %}View bicycles{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bicycle.css') }}">
{% endblock %}
{% block content %}
    <input type="hidden" ng-model="ownerId" id="ownerId" value="{{ user_id }}">
    {% raw %}
    <div class="container-fluid" ng-controller="BicycleController" ng-cloak>
        <div class="row justify-content-around">
            <div class="col-md-12 col-lg-5 border border-warning card mb-md-3 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title text-dark">Your bicycles
                        <span class="badge badge-warning">{{ myBikes.length }}</span>
                        <a href="/bicycle/add">
                            <span class="oi oi-plus text-warning float-right"></span>
                        </a>

                    </h5>
                    <div class="bs-callout bs-callout-warning text-dark" ng-if="myBikes.length === 0">
                        <div class="row pb-4">
                            <div class="col-1">
                                <span class="oi oi-badge text-warning text-xlg"></span>
                            </div>
                            <div class="col-11">
                                <h4>
                                    Welcome!
                                </h4>
                            </div>
                        </div>
                        <p>
                            <strong>You have no bikes.</strong>
                            You can add a bicycle by clicking on the button at the bottom. Alternatively, you can click
                            on
                            the plus sign at the top right.
                            You can add as many bikes as you would like, there is no limit.
                        </p>
                        <hr>
                        <p class="mb-0">
                            <a href="/bicycle/add" class="btn btn-warning">Add a new bicycle</a>
                        </p>
                    </div>

                    <ul class="list-group list-group-flush text-dark" ng-if="myBikes.length">
                        <li class="list-group-item" ng-repeat="bike in myBikes">
                            <span class="text-dark pr-4">{{ bike.id }}</span>
                            <span class="text-warning pr-4 name"><a href="/bike/{{ bike.id }}/view">{{ bike.name }}</a></span>
                            <md-button class="md-warn md-raised float-right" data-id="{{ bike.id }}" data-idx="{{ $index }}" ng-click="showConfirm($event)">
                                Delete <span class="oi oi-circle-x"></span>
                            </md-button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-5 border border-warning card">
                <div class="card-body">
                    <h5 class="card-title text-dark">
                        All bicycles
                        <span class="badge badge-warning">{{ bikes.length }}</span>
                    </h5>
                    <ul class="list-group list-group-flush text-dark" ng-if="bikes.length">
                        <li class="list-group-item" ng-repeat="bike in bikes">
                            <span class="text-dark pr-4">{{ bike.id }}</span>
                            {{ bike.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    <script src="{{ url_for('static', filename='js/controllers/BicycleController.js') }}"></script>
{% endblock %}
