{% extends "base.html" %}
{% block title %}Add a theft report{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_theft.css') }}">
{% endblock %}
{% block content %}
    <div ng-controller="AddTheftController">
        <input type="hidden" id="ownerId" value="{{ user_id }}">
        <div ng-if="bikes.length > 0" ng-cloak>
            <h3 class="text-center margin-bottom-lg">Fill in the form to add a new theft report</h3>
            <form class="center" method="POST" ng-submit="addTheft()">
                <div class="alert alert-danger" role="alert" ng-show="hasError">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Whoops!</h4>

                    <p><strong>An unknown error occurred while trying to add a new theft report.</strong></p>
                    <hr>
                    <p class="mb-0">If this error persists, you should contact customer service.</p>
                </div>
                <h5><label for="stolenBike">Which bike was stolen</label></h5>
                <md-input-container>
                    <md-select aria-label="stolen bike" id="stolenBike" ng-model="$root.bike" class="form-control">
                        <md-option ng-repeat="bike in bikes" ng-value="bike">{{ "{{ bike.name }}" }}</md-option>
                    </md-select>
                </md-input-container>
                <div class="form-group">
                    <h5><label for="stolenBike">When was it stolen</label></h5>
                    <md-datepicker id="datepicker" ng-model="$parent.date" md-placeholder="Enter date"
                                   md-max-date="$parent.maxDate"></md-datepicker>

                </div>

                <h5><label for="stolenBike"><span class="oi oi-map-marker"></span> Where was it stolen</label></h5>
                <div class="alert alert-danger" ng-show="coordinateError">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Whoops!</h4>

                    <p><strong>You have not set the location of your theft.</strong></p>
                    <hr>
                    <p class="mb-0">Click on the map to add a position.</p>

                </div>

                <div id="mapOuter">
                    <div id="map"></div>
                </div>
                <script src="{{ url_for('static', filename='js/add_theft.js') }}"></script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMf6IaMQVSO_ghPn_-NxJyss7LVCbBtOk&callback=initMap">
                </script>

                <button class="btn btn-lg btn-warning btn-block margin-bottom mt-4" type="submit"
                        id="create-account-button">
                    Add theft report
                </button>
            </form>
        </div>
        <div id="noBikeMessage" class="bs-callout bs-callout-warning bg-light text-dark col-md-4"
             ng-if="bikes.length === 0">
            <div class="row pb-4">
                <div class="col-1">
                    <span class="oi oi-badge text-warning text-xlg"></span>
                </div>
                <div class="col-11">
                    <h4>
                        Welcome!
                    </h4>
                </div>
            </div>
            <p>
                <strong>You have no bikes.</strong><br>
                You can not add a theft report if you do not have any bicycles registered. You should first add a
                bicycle,
                and then come back to this page. To register a bicycle you can click on the button below.
            </p>
            <hr>
            <p class="mb-0">
                <a href="/bicycle/add" class="btn btn-warning">Add a new bicycle</a>
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/controllers/AddTheftController.js') }}"></script>

{% endblock %}
