{% extends "base.html" %}
{% block title %}Edit theft report{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bicycle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/specific.css') }}">
{% endblock %}
{% block content %}
    <div ng-controller="AddTheftController">
        <input type="hidden" id="ownerId" value="{{ user_id }}">
        <input type="hidden" id="theftReportId" value="{{ theft.id }}">
        <div ng-cloak>
            <h3 class="text-center margin-bottom-lg">Change the location of the theft</h3>
            <form class="center" method="POST" ng-submit="editTheft()">
                <div class="alert alert-danger" role="alert" ng-show="hasError">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Whoops!</h4>

                    <p><strong>An unknown error occurred while trying to edit the theft report.</strong></p>
                    <hr>
                    <p class="mb-0">If this error persists, you should contact customer service.</p>
                </div>

                <h5><label for="stolenBike"><span class="oi oi-map-marker"></span> Where was it stolen</label></h5>
                <div class="alert alert-danger" ng-show="coordinateError">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Whoops!</h4>

                    <p><strong>You have not set the location of your theft.</strong></p>
                    <hr>
                    <p class="mb-0">Click on the map to add a position.</p>

                </div>

                <div id="mapOuter">
                    <div id="map"></div>
                </div>
                <script src="{{ url_for('static', filename='js/add_theft.js') }}"></script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMf6IaMQVSO_ghPn_-NxJyss7LVCbBtOk&callback=initMap">
                </script>

                <button class="btn btn-lg btn-warning btn-block margin-bottom mt-4" type="submit"
                        id="create-account-button">
                    Change the location
                </button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/controllers/AddTheftController.js') }}"></script>

{% endblock %}
