{% extends "base.html" %}
{% block title %}View theft report{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bicycle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/specific.css') }}">
{% endblock %}
{% block content %}

    {% raw %}
    <div class="container-fluid" ng-controller="SpecificTheftController" ng-cloak>
        <div class="row justify-content-around">
            <div class="col-md-12 col-lg-5 border border-warning card mb-md-3 mb-lg-0" ng-controller="SheetController">
                <div class="card-body">
                    <h5 class="card-title text-dark">Theft report</h5>
                    <ul class="list-group list-group-flush text-dark">
                        <li class="list-group-item">
                            <span class="text-dark pr-4"><strong>Theft id:</strong></span>
                            {{ theft.id }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-dark pr-4"><strong>Bike name:</strong></span>
                            {{ theft.name }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-dark pr-4"><strong>Theft timestamp:</strong></span>
                            {{ theft.timestamp.slice(0, -3) }}
                        </li>
                    </ul>
                </div>
                <div class="p-2">
                    {% endraw %}
                    <a ng-href="{{ url_for('edit_theft', id=theft.id) }}">
                        <md-button class="md-raised md-primary float-right">Edit</md-button>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-5 border border-warning card">
                <div class="card-body">
                    <h5 class="card-title text-dark"><span class="oi oi-map-marker"></span> Theft location</h5>
                    <div id="mapOuter">
                        <div id="map"></div>
                    </div>
                    <script>loc = {lat: {{ theft.latitude }}, lng: {{ theft.longitude }}};
                    id = {{ theft.id }}; </script>
                    <script src="{{ url_for('static', filename='js/specific_bike.js') }}"></script>
                    {% raw %}
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMf6IaMQVSO_ghPn_-NxJyss7LVCbBtOk&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    <script src="{{ url_for('static', filename='js/controllers/SpecificTheftController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/SheetController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/BottomSheetController.js') }}"></script>
{% endblock %}
