{% extends "base.html" %}
{% block title %}View theft{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bicycle.css') }}">
{% endblock %}
{% block content %}
    <input type="hidden" id="ownerId" value="{{ user_id }}">
    {% raw %}
    <div class="container-fluid" ng-controller="TheftController" ng-cloak>
        <div class="row justify-content-around">
            <div class="col-md-12 col-lg-5 border border-warning card mb-md-3 mb-lg-0 px-md-0">
                <div class="card-body">
                    <h5 class="card-title text-dark">Your theft
                        <span class="badge badge-warning">{{ myTheft.length }}</span>
                        <a href="/theft/add">
                            <span class="oi oi-plus text-warning float-right"></span>
                        </a>

                    </h5>
                    <div class="bs-callout bs-callout-warning text-dark" ng-if="myTheft.length === 0">
                        <div class="row pb-4">
                            <div class="col-1">
                                <span class="oi oi-badge text-warning text-xlg"></span>
                            </div>
                            <div class="col-11">
                                <h4>
                                    Welcome!
                                </h4>
                            </div>
                        </div>
                        <p>
                            <strong>You have not submitted any theft reports.</strong>
                            You can add a theft report by clicking on the button at the bottom. Alternatively, you can
                            click
                            on
                            the plus sign at the top right.
                        </p>
                        <hr>
                        <p class="mb-0">
                            <a href="/theft/add" class="btn btn-warning">Add a theft report</a>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-dark" ng-if="myTheft.length">
                        <li class="list-group-item" ng-repeat="t in myTheft">
                            <div class="row">
                                <div class="col-md-4 col-xl-2">
                                    <span class="text-dark">{{ t.timestamp | limitTo:10 }}</span>
                                </div>
                                <div class="col-md-5 col-xl-7">
                                    <span class="text-warning name"><a
                                            href="/theft/{{ t.id }}/view">{{ t.name }}</a></span>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <md-button class="md-warn md-raised float-right" data-id="{{ t.id }}"
                                               data-idx="{{ $index }}" ng-click="showConfirm($event)">
                                        Delete <span class="oi oi-circle-x"></span>
                                    </md-button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-5 border border-warning card">
                <div class="card-body">
                    <h5 class="card-title text-dark">
                        All theft
                        <span class="badge badge-warning">{{ theft.length }}</span>
                    </h5>
                    <ul class="list-group list-group-flush text-dark" ng-if="theft.length">
                        <li class="list-group-item" ng-repeat="t in theft">
                            <span class="text-dark pr-4">{{ t.timestamp | limitTo:10 }}</span>
                            <span class="text-warning pr-4">{{ t.name }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    <script src="{{ url_for('static', filename='js/controllers/TheftController.js') }}"></script>
{% endblock %}
