#noBikeMessage {
	margin: 0 auto;
}

.md-datepicker-open .md-datepicker-calendar-icon {
	fill: #FFC107;
}

#container .md-datepicker-calendar-icon {
	color: #EFEFEF;
}

#datepicker {
	background-color: #222;
}

#datepicker input {
	border-left: 0;
}

#container .md-datepicker-focused {
	border-bottom-color: #FFC107;
}

.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
	border: 1px solid #FFC107;
}

.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
	background: #FFC107;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #FFF;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif', serif;
	line-height: 30px;
	padding-left: 10px;
}

md-select:not([disabled]):focus .md-select-value {
	color: #FFC107 !important;
	border-color: #FFC107 !important;
}

md-select-menu md-option[selected] {
	color: #FFC107 !important;
}

md-option:hover {
	background: #666 !important;
}

md-input-container {
	width: 100%;
}
