#bicycle.ng-valid {
	border-color: #28A745 !important;
}

#bicycle.ng-invalid-minlength {
	border-color: red;
}

#bicycle:focus {
	box-shadow: none;
}

#bicycle.ng-invalid-required {
	box-shadow: none;
}
