.full {
	width: 100%;
	height: 100%;
}

.no-distance {
	margin: 0;
	padding: 0;
}

.center {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.bg-black {
	background-color: #222;
	color: #FFF;
}

.container {
	margin-top: 5em;
	max-width: 85%;
	padding: 1em;
}

.container h2 {
	padding-bottom: 1.2em;
}

.container form {
	max-width: 350px;
}

.container form input {
	margin: 1em 0;
}

.container .form-group input {
	margin: 0 0 1em 0;
	border-left: 5px solid #FFF;
}

.margin-bottom {
	margin-bottom: 0.5em;
}

.margin-bottom-lg {
	margin-bottom: 1.5em;
}

.name {
	cursor: pointer;
}

.name a {
	color: #FFC107;
}

#menuBar a {
	color: #FFF;
}

#menuBar a:hover {
	color: #AAA;
}

#menuBar a.dropdown-item {
	color: #222;
}

.text-xlg {
	font-size: 300%;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #EEE;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout i {
	font-size: 40px;
	margin-right: 0.3em;
	min-width: 50px;
	width: 50px;
	float: left;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code {
	border-radius: 3px;
}

.bs-callout + .bs-callout {
	margin-top: -5px;
}

.bs-callout.bs-callout-default {
	border-left-color: #555;
}

.bs-callout.bs-callout-default h4,
.bs-callout.bs-callout-default i {
	color: #555;
}

.bs-callout.bs-callout-primary {
	border-left-color: #3D316A;
}

.bs-callout.bs-callout-primary h4,
.bs-callout.bs-callout-primary i {
	color: #3D316A;
}

.bs-callout.bs-callout-success {
	border-left-color: #008040;
}

.bs-callout.bs-callout-success h4,
.bs-callout.bs-callout-success i {
	color: #008040;
}

.bs-callout.bs-callout-danger {
	border-left-color: #DC0000;
}

.bs-callout.bs-callout-danger h4,
.bs-callout.bs-callout-danger i {
	color: #DC0000;
}

.bs-callout.bs-callout-warning {
	border-left-color: #FFC107;
}

.bs-callout.bs-callout-warning h4,
.bs-callout.bs-callout-warning i {
	color: #FFC107;
}

.bs-callout.bs-callout-info {
	border-left-color: #2574A9;
}

.bs-callout.bs-callout-info h4,
.bs-callout.bs-callout-info i {
	color: #2574A9;
}

.form-group input:focus {
	border-color: #FFC107;
}

.ng-invalid + .oi-check {
	display: none;
}

#container .oi-check {
	position: absolute;
}

.form-group.has-feedback {
	position: relative;
}

.container .form-group input.ng-valid.ng-valid-username {
	border-color: #28A745;
}

.container .form-group input.ng-invalid-username {
	border-color: red;
}

span.oi-check {
	top: 45px;
	right: 12px;
}

.oi-circle-x {
	cursor: pointer;
}

.md-button.md-primary {
	color: #FFC107 !important;
}

#map {
	height: 100%;
}

#mapOuter {
	height: 300px;
}

md-bottom-sheet {
	background-color: #444;
	border-color: #FFC107;
}

.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -10px;
	height: 24px;
	vertical-align: middle;
}

.bottomSheetdemoBasicUsage .md-grid-item-content {
	height: 90px;
	padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
	height: 48px;
	width: 48px;
}

.bottomSheetdemoBasicUsage .md-grid-text {
	padding-bottom: 5px;
}

.bottomSheetdemoBasicUsage md-list-item,
.bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
	min-height: 48px;
}

.bottomSheetdemoBasicUsage h2 {
	line-height: 36px;
	padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
	padding: 0;
}

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
	background-color: #B14141;
}

.bottomSheetdemoBasicUsage md-toast > * {
	font-weight: bolder;
}
