{% macro render_field(field) %}
    <div class="form-group has-feedback">
        {{ field.label }}
		{% set a = {'ng-model':field.name} %}
		{% set __temp = a.update(kwargs) %}
        {{ field(class="form-control " + field.name, placeholder=(field.name | capitalize), **a) | safe}}
		<span class="oi oi-check text-success form-control-feedback"></span>

        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
{% endmacro %}
