<!DOCTYPE html>
<html lang="en" ng-app="BicycleTracker" class="bg-black">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='images/bike_logo.png') }}">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/dependencies/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/dependencies/jquery/dist/jquery.min.js"></script>
    <script src="/static/dependencies/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/dependencies/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/dependencies/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="/static/dependencies/angular-material-source/dist/angular-material.min.js"></script>
    <link rel="stylesheet" href="/static/dependencies/angular-material-source/dist/angular-material.min.css">
    <link rel="stylesheet" href="/static/dependencies/open-iconic/font/css/open-iconic-bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/controllers/app.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    {% block head %}{% endblock %}
    {% from '_formhelpers.html' import render_field %}
</head>
<body class="full no-distance bg-black">
{% if not no_menu %}
    {% include 'menu_bar.html' %}
{% endif %}
<div id="container" class="no-distance center container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
