{% extends "base.html" %}
{% block title %}Bicycle login{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
	<h2 class="text-center">Enter your login credentials</h2>
	<form class="center" ng-controller="LoginController" ng-cloak method="POST" ng-submit="login()">
		<div class="alert alert-danger" role="alert" ng-show="hasError">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="alert-heading">Whoops!</h4>

			<p><strong>You have provided invalid credentials.</strong></p>
			<hr>
			<p class="mb-0">If you want to reset your password, please send us an email.</p>
		</div>
		{{ render_field(form.username, mul=0, **{"required":"", "username":"", "accounts":"accounts",
		"ng-model-options":"{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"} ) }}
		{{ render_field(form.password, **{"required":""}) }}
		<button class="btn btn-lg btn-warning btn-block margin-bottom" type="submit" id="log-in-button">Log in</button>
		<input type=hidden value="{{ next or 'overview' }}" name=next>
		<a href="{{ url_for('signup') }}">No account yet? Sign up.</a>
	</form>
	<script src="{{ url_for('static', filename='js/controllers/LoginController.js') }}"></script>
	<script src="{{ url_for('static', filename='js/directives/username.js') }}"></script>
{% endblock %}
