<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" href="#">
        <img height="30px" src="{{ url_for('static', filename='images/bike_logo.png') }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuBar"
            aria-controls="menuBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('overview') }}">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('theft_view') }}">Theft</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bicycle_view') }}">Bicycles</a>
            </li>

        </ul>

        <ul class="navbar-nav navbar-right mx-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
