{% extends "base.html" %}
{% block title %}Bicycle overview{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overview.css') }}">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-5 border border-warning card mb-md-3 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title text-dark">Theft locations</h5>
                    <div class="map-wrapper">
                        <div id="theftMap"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 offset-lg-1 border border-warning card">
                <div class="card-body">
                    <h5 class="card-title text-dark">Traffic density</h5>
                    <div class="map-wrapper">
                        <div id="densityMap"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="{{ url_for('static', filename='js/overview.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMf6IaMQVSO_ghPn_-NxJyss7LVCbBtOk&libraries=visualization&callback=initMap">
    </script>
{% endblock %}
