{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}
{% block content %}
    <h3 class="text-center margin-bottom-lg">Fill in the form to create your account</h3>
    <form class="center" ng-controller="SignupController" ng-cloak method="POST" ng-submit="signup()">
        <div class="alert alert-danger" role="alert" ng-show="hasError">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="alert-heading">Whoops!</h4>

			<p><strong>Your registration was unsuccessful.</strong></p>
			<hr>
			<p class="mb-0">You probably tried to register with an existing username. Try a different one.</p>
		</div>
		{{ render_field(form.username, mul=1, **{"required":"", "username":"", "accounts":"accounts",
		"ng-model-options":"{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"} ) }}
		{{ render_field(form.password, **{"required":"", "ng-minlength":"6"}) }}
        <button class="btn btn-lg btn-warning btn-block margin-bottom" type="submit" id="create-account-button">
            Create account
        </button>
        <a href="{{ url_for('login') }}">Already have an account? Log in.</a>
    </form>

	<script src="{{ url_for('static', filename='js/controllers/SignupController.js') }}"></script>
	<script src="{{ url_for('static', filename='js/directives/username.js') }}"></script>
{% endblock %}
